

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 网站用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/LayUI/layuiAdmin/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/LayUI/layuiAdmin/layuiadmin/style/admin.css" rel="stylesheet" />
</head>
<body>

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">仓库名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="StorageName" id="StorageName" placeholder="请输入仓库名称，支持模糊查询" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">仓库类型</label>
                        <div class="layui-input-block">
                            <input type="text" name="StorageTypeName" id="StorageTypeName" placeholder="请输入仓库名称，支持模糊查询" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-useradmin" lay-submit="" lay-filter="LAY-user-front-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="layui-card-body">
                <table id="demo" lay-filter="LAY-user-manage"></table>
            </div>
        </div>
    </div>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="status">{{d.StorageStatus?"启用":"禁用"}}</a>
    </script>
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/LayUI/layuiAdmin/layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '/LayUI/layuiAdmin/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['table','layer'], function () {
            var $ = layui.$
                , form = layui.form
                , table = layui.table
                , layer = layui.layer;

            //第一个实例
            table.render({
                elem: '#demo'
                , url: '@Url.Action()' //数据接口
                //, where: { token: 'sasasas', id: 123 }
                , parseData: function (res) { //res 即为原始返回的数据
                    return {
                        "code": res.status, //解析接口状态
                        "msg": res.msg, //解析提示文本
                        "count": res.total, //解析数据长度
                        "data": res.data //解析数据列表
                    };
                }
                , request: {
                    pageName: 'pageIndex' //页码的参数名称，默认：page
                    , limitName: 'pageSize' //每页数据量的参数名，默认：limit
                }
                , toolbar: "default"
                , defaultToolbar: ['filter', 'exports', {
                    title: '提示' //标题
                    , layEvent: 'LAYTABLE_TIPS' //事件名，用于 toolbar 事件中使用
                    , icon: 'layui-icon-tips' //图标类名
                }]
                , text: {
                    none: '暂无相关数据' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
                }
                , autoSort: false
                , initSort: {
                    field: 'StorageID' //排序字段，对应 cols 设定的各字段名
                    , type: 'asc' //排序方式  asc: 升序、desc: 降序、null:Url默认排序
                }
                , page: true //开启分页
                , cols: [[ //表头
                    { type: "checkbox", field: 'StorageID', title: 'ID', width: 60, sort: true }
                    , { field: 'StorageID', title: 'ID', width: 80, sort: true }
                    , { field: 'StorageCode', title: '编码', width: 100, hide: true }
                    , { field: 'StorageName', title: '仓库名称', sort: true, edit: "text" }
                    , { field: 'StorageTypeName', title: '仓库类型', sort: true, edit: "text" }
                    , {
                        field: 'StorageStatus', title: '仓库状态', sort: true, style: "color:red",
                        templet: function (d) {
                            return d.StorageStatus ? "禁用" : "启用";
                        }
                      }
                    , {
                        title: '所在地区', width: 190,sort: true, templet: function (d) {
                            return d.Province + "-" + d.City + "-" + d.Area;
                        }
                      }
                    , { field: 'StorageLocation', title: '库位', sort: true }
                    , {
                        title: '创建时间', sort: true, templet: function (d) {
                            return formatTime(d.CreateTime,"yyyy-MM-dd hh:mm:ss");
                        }
                      }
                    , { field: 'UserName', title: '用户名', sort: false }
                    , { title:"操作", align: 'center', toolbar: '#barDemo' } //这里的toolbar值是模板元素的选择器
                ]]
                , done: function (res, curr, count) {
                    //如果是异步请求数据方式，res即为你接口返回的信息。
                    //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                    //console.log(res);

                    //得到当前页码
                    //console.log(curr);

                    //得到数据总量
                    //console.log(count);
                }
            });

            //监听事件
            table.on('toolbar(LAY-user-manage)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);

                switch (obj.event) {
                    case 'add':
                        layOpen({
                            title: "添加仓库",
                            content: "@Url.Action("Create")",
                            msg: "添加仓库成功"
                        });
                        break;
                    case 'delete':
                        var checkStatus = table.checkStatus('demo'); //idTest 即为基础参数 id 对应的值
                        console.log(checkStatus.data) //获取选中行的数据
                        //console.log(checkStatus.data.length) //获取选中行数量，可作为是否有选中行的条件
                        //console.log(checkStatus.isAll) //表格是否全选

                        var StorageID = new Array();

                        $(checkStatus.data).each(function (i, o) {
                            StorageID.push(o.StorageID);
                        });

                        layer.confirm('确认要批量删除仓库吗?', { icon: 3, title: '批删仓库' }, function (index) {
                            $.ajax({
                                url: "@Url.Action("Delete")",
                                type: "post",
                                dataType: "json",
                                data: { StorageID: StorageID},
                                success: function (d) {
                                    layer.msg("批量删除成功", {
                                        icon: 1,
                                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                    }, function () {
                                        layer.close(index);
                                        //批删之后重载表格
                                        table.reload("demo");
                                    });
                                }
                            })
                            layer.close(index);
                        });
                        break;
                    case 'update':
                        if (checkStatus.data.length != 1) {
                            layer.alert('请选择一行数据进行编辑', { icon: 1 });
                            return;
                        }

                        layOpen({
                            title: "编辑仓库",
                            content: "@Url.Action("Edit")/" + checkStatus.data[0].StorageID,
                            msg: "编辑仓库成功"
                        });

                        break;
                    case 'LAYTABLE_TIPS':
                        layer.msg('头部自定义工具');
                        break;
                };
            });

            //监听工具条
            table.on('tool(LAY-user-manage)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

                console.log(layEvent);

                if (layEvent === 'del') { //删除
                    layer.confirm('真的删除行么', function (index) {
                        $.ajax({
                            url: "@Url.Action("Delete")",
                           type: "post",
                           dataType: "json",
                            data: { StorageID: data.StorageID},
                           success: function (d) {
                               obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                               layer.close(index);
                           }
                       })
                    });
                } else if (layEvent === 'edit') { //编辑
                    //do something
                    //console.log("编辑");
                    //console.log(data);
                    //同步更新缓存对应的值

                    layOpen({
                        title: "编辑仓库",
                        content: "@Url.Action("Edit")/" + data.StorageID,
                        msg: "编辑仓库成功",
                        obj: obj
                    });
                } else if (layEvent === 'status') { //启用/禁用
                    //data的状态True/False
                    layer.confirm('真的修改当前行的状态么？', function (index) {
                        $.ajax({
                            url: "@Url.Action("UpdateStatus")",
                            type: "post",
                            dataType: "json",
                            data: { StorageID: data.StorageID},
                            success: function (d) {
                                table.reload("demo");
                                layer.close(index);
                            }
                        })
                    });
                }
            });

            //触发复选
            table.on('checkbox(LAY-user-manage)', function (obj) {
                //console.log(obj.checked); //当前是否选中状态
                //console.log(obj.data); //选中行的相关数据
                //console.log(obj.type); //如果触发的是全选，则为：all，如果触发的是单选，则为：one
            });

            //当前单元格的编辑
            table.on('edit(LAY-user-manage)', function (obj) { //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
                console.log(obj.value); //得到修改后的值
                console.log(obj.field); //当前编辑的字段名
                console.log(obj.data); //所在行的所有相关数据
            });

            //监听排序事件 
            table.on('sort(LAY-user-manage)', function (obj) { //注：sort 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                //console.log(obj.field); //当前排序的字段名
                //console.log(obj.type); //当前排序类型：desc（降序）、asc（升序）、null（空对象，默认排序）
                //console.log($(this)); //当前排序的 th 对象

                //尽管我们的 table 自带排序功能，但并没有请求服务端。
                //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
                table.reload('demo', {
                    initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。
                    , where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                        field: obj.field //排序字段
                        , order: obj.type //排序方式
                    }
                });

            });

            //监听搜索
            form.on('submit(LAY-user-front-search)', function (data) {
                var field = data.field;

                //执行重载
                table.reload('demo', {
                    where: field
                });
            });
        });
    </script>
</body>
</html>
